<!doctype html>
<html>
    <head>
        <title>pd status</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">
        <style>
            .document {
                padding-top: 50px;
            }
        </style>
    </head>

    <body>
        <div class="container document">
            <div class="row">
                <div class="well"> Hello world </div>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success"
                        role="progressbar" aria-valuemin="0"
                        aria-valuemax="100" style="width: 90%">
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

        <!-- Bootflat's JS files.-->
        <script src="https://bootflat.github.io/bootflat/js/icheck.min.js"></script>
        <script src="https://bootflat.github.io/bootflat/js/jquery.fs.selecter.min.js"></script>
        <script src="https://bootflat.github.io/bootflat/js/jquery.fs.stepper.min.js"></script>

    </body>
</html>
